
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251"/>
<meta http-equiv="Expires" content="Wed, 4 Feb 1981 13:35:00 MSK"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate"/> 
<meta http-equiv="X-UA-Compatible" content="IE=5"/>
<link rel="SHORTCUT ICON" href="../img/favicon.ico"/>
<link rel="stylesheet" type="text/css" href="../css/RPG.css"/>
